/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --mainColor: rgb(62, 62, 62);
}

/* CSS Style */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

/* Header Navbar (Main)*/
header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 1.2em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.505);
  text-align: center;
}

header .header-nama {
  display: block;
  color: inherit;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
  padding: 0em 1.2em;
  font-weight: 600;
  transition: 0.3s;
}

header nav {
  display: flex;
  list-style: none;
  padding: 0;
}

header nav li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 0.5em 0.8em;
  display: block;
  text-align: center;
}

header nav li a::after {
  content: "";
  display: block;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
  transform: scalex(0);
  transition: 0.2s linear;
}

header .header-nama:hover {
  transform: scale(1.05);
}

header nav li a:hover::after {
  transform: scalex(1);
}

header nav .openBar {
  margin-top: 2.3px;
  padding: 0.5em 0.8em;
}

header nav .hide {
  display: none;
}

/* Nav (Sidebar) */
.sidebar {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  background-color: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(12px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.505);
  color: white;
  font-size: 1.2em;
  text-align: center;
  animation: slideIn 0.3s both;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  list-style: none;
}

.sidebar nav li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 0.8em;
  display: block;
  text-align: center;
}

.sidebar nav .topMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar nav .topMenu .topMenu-Name {
  cursor: pointer;
  padding: 0em 1.5em;
  font-weight: 600;
  transition: 0.3s;
}

.sidebar nav .topMenu .topMenu-Name:hover {
  transform: scale(1.05);
}

.sidebar nav .topMenu .closeBar {
  padding: 0.8em;
}

.sidebar .line-menu {
  width: 45%;
  height: 1px;
  margin: 15px auto;
  background-color: white;
}

.sidebar nav a:hover {
  background-color: rgba(76, 76, 76, 0.2);
}

/* Main Page */
main {
  text-align: center;
  color: var(--mainColor);
  padding: 1.6em;
  margin-top: 55px;
}

main p {
  font-weight: 400;
  font-size: 1.1em;
}

main p:nth-child(1) {
  margin-top: 40px;
}

main p:nth-child(4) {
  margin-top: 40px;
}

main h1 {
  font-size: 1.6em;
}

main h1 span {
  font-weight: 600;
}

main #gambar1 {
  margin: 30px auto;
  text-align: center;
}

main #gambar1 img {
  width: 300px;
}

.social {
  margin: 2em;
  display: flex;
  margin: 0.8em;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social i {
  color: var(--mainColor);
  font-size: 1.8em;
  transition: 0.3s;
}

.social i:hover {
  color: rgb(88, 88, 88);
  transform: translateY(-5px);
}

main .viewMore a {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  width: 170px;
  border-radius: 50px;
  background-color: var(--mainColor);
  transition: 0.3s;
}

main .viewMore a:hover {
  background-color: rgb(88, 88, 88);
  transform: translateY(-5px);
}

/* Section Content */
#about,
#skills,
#project,
#contact {
  text-align: center;
  color: var(--mainColor);
  padding: 3.5em 1em 0.5em;
}

#about .about-header,
#skills .skills-header,
#project .project-header,
#contact .contact-header {
  margin: 10px auto;
}

#about h1,
#skills h1,
#project h1,
#contact h1 {
  font-size: 1.6em;
}

#about p,
#skills p,
#project p,
#contact p {
  font-size: 1.1em;
}

/* About */
#about #gambar2 {
  text-align: center;
}

#about #gambar2 img {
  width: 300px;
}

#about .about-content p {
  margin: auto;
  text-align: start;
  font-size: 1em;
  width: 300px;
  padding: 10px;
}

#about .about-content .introduce {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#about .introduce span {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  width: 300px;
  margin: auto;
  padding: 0 10px;
  gap: 0.5em;
  cursor: pointer;
}

#about .introduce span i {
  font-size: 1.5em;
}

/* Skills */
#skills {
  padding-bottom: 0;
}

#skills .skill-content {
  padding: 2em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8em;
}

#skills .skill-wrapper {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  align-content: space-between;
}

#skills .card-skill {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7em 1.1em 0.2em;
  color: var(--mainColor);
  background-color: rgba(212, 217, 221, 0.3);
  box-shadow: 0px 1px 3px 0.2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: 400;
  transition: all 0.3s;
}

#skills .card-skill:hover {
  background-color: rgba(212, 217, 221, 0.55);
  transform: translateY(-8px);
}

#skills .card-skill-logo img {
  width: 90px;
}

#skills .card-skill-tittle {
  font-size: 1.1em;
}

#skills .experience-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 0;
  gap: 1.1em;
}

#skills .card-experience {
  display: flex;
  cursor: pointer;
  gap: 0.4em;
}

#skills .card-experience-year {
  width: 50px;
  margin-top: 1px;
  font-weight: 500;
  font-size: 0.95em;
  font-size: 0.9em;
}

#skills .card-experience-details {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 255px;
  gap: 0.2em;
}

#skills .card-experience-details-role {
  font-size: 0.95em;
  font-size: 0.9em;
  font-weight: 400;
}

#skills .card-experience-details-name {
  font-size: 0.75em;
  font-size: 0.7em;
}

/* Project */
#project .project-content {
  padding: 0.3em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#project .card-project {
  display: block;
  box-sizing: content-box;
  overflow: hidden;
  width: 250px;
  height: 170px;
  border: 5px solid rgba(212, 217, 221, 1);
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

#project .viewProject {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 226, 226, 0.505);
  opacity: 0;
  transition: all 0.3s;
}

#project .viewProject .viewButton {
  box-sizing: border-box;
  height: 30px;
  width: 35px;
  padding: 0.23em 0.3em;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

#project .viewProject .viewButton i {
  margin: auto;
  fill: rgb(114, 114, 114);
}

#project .card-project:hover {
  border-color: rgb(194, 194, 194);
  transform: translateY(-5px);
}

#project .card-project:hover .viewProject {
  opacity: 1;
}

#project .viewButton:hover {
  transform: scale(1.15);
  background-color: rgb(209, 209, 209);
}

#project .emptyProject {
  display: none;
}

/* Contact */
#contact .contact-content {
  min-height: 60vh;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4em;
}

#contact .contact-content .input,
#contact .contact-content .message {
  width: 260px;
  height: 45px;
  padding: 0.2em 0.8em;
  border: 0;
  outline: 0;
  color: var(--mainColor);
  font-size: 0.9em;
  border-radius: 10px;
  background-color: rgba(212, 217, 221, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: text;
  transition: all 0.3s;
}

#contact .contact-content .message {
  resize: none;
  height: 180px;
  padding: 0.5em 0.4em 0.5em 0.8em;
}

#contact .contact-content .contact-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 0;
  outline: 0;
  padding: 8px 20px;
  background-color: var(--mainColor);
  color: white;
  border-radius: 30px;
  font-size: 1em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

#contact .contact-content .contact-button i {
  padding-top: 2px;
  height: 28px;
  width: auto;
}

#contact .contact-content .contact-button:hover {
  background-color: rgb(88, 88, 88);
  transform: translateY(-5px);
}

#contact .contact-content .contact-button:active {
  transform: translateY(0);
}

#contact .contact-content .input:focus-within,
#contact .contact-content .message:focus-within {
  background-color: rgba(212, 217, 221, 0.8);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7em 0.8em;
  color: white;
  background-color: rgb(50, 50, 50);
  font-size: 1.2em;
  font-weight: 550;
  gap: 8px;
}

.footer.social {
  margin: 0;
}
.footer.social i {
  font-size: 1.5em;
  color: white;
}

footer .footer-name a {
  display: block;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

footer .footer-name a:hover {
  transform: scale(1.05);
}

/* Animation */
@keyframes slideIn {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

/* Responsive */
@media (min-width: 992px) and (max-width: 1200px) {
  header {
    font-size: 1em;
  }
}

@media screen and (min-width: 992px) {
  /* Header */
  header {
    padding: 0 0 0 1em;
  }

  .header-nama,
  header nav li a {
    padding: 1.2em 2em;
  }

  header nav {
    display: flex;
    align-items: center;
  }

  header nav .hide {
    display: block;
  }

  header nav .openBar {
    display: none;
  }

  /* Main Page */
  main {
    font-size: 1.3em;
  }

  main p:nth-child(1),
  main p:nth-child(4) {
    margin-top: 0.25em;
  }

  main #gambar1 {
    margin: auto;
  }

  main #gambar1 img {
    width: 320px;
  }

  /* Section Content */
  #about,
  #skills,
  #project,
  #contact {
    padding: 4.2em 1.6em 0;
    font-size: 1.15em;
  }

  /* About */
  .about-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0.8em auto;
    justify-content: space-evenly;
    gap: 0 200px;
  }

  #about #gambar2 img {
    width: 520px;
  }

  #about .about-content p {
    text-align: start;
    font-size: 1.1em;
    width: 500px;
    margin: 2em auto 0em;
  }

  #about .introduce span {
    font-size: 1.1em;
    width: 500px;
    margin: 0.5em auto;
  }

  #about .introduce span i {
    font-size: 2em;
  }

  /* Skills */
  #skills .skill-content {
    flex-direction: row;
    justify-content: center;
    padding: 2.8em 0;
  }

  #skills .skill-wrapper {
    width: auto;
    max-width: 40%;
  }

  #skills .experience-wrapper {
    width: 40%;
    align-items: stretch;
  }

  #skills .card-experience {
    gap: 0;
  }

  #skills .card-experience-year {
    margin-top: 3px;
    width: 25%;
    font-size: 1.05em;
  }

  #skills .card-experience-details {
    width: 75%;
  }

  #skills .card-experience-details-role {
    font-size: 1.05em;
  }

  #skills .card-experience-details-name {
    font-size: 0.85em;
  }

  /* Project */
  #project .project-content {
    padding: 0.6em 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    place-items: center;
    place-content: center;
    gap: 1.5em 2em;
  }

  #project .card-project {
    width: 330px;
    height: 220px;
  }

  #project .viewProject .viewButton {
    width: 50px;
    height: 45px;
  }

  #project .emptyProject {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    font-size: 1.25em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #f2f4f5;
    color: white;
    transition: all 0.3s;
  }

  #project .emptyProject .comingSoon {
    width: 70%;
    padding: 0.6em;
    border-radius: 1.8em;
    opacity: 0.7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--mainColor);
  }

  #project .emptyProject svg {
    fill: white;
    width: 50px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
    transition: all 0.3s;
  }

  #project .emptyProject:hover,
  #project .emptyProject:hover svg {
    color: rgb(205, 205, 205);
    fill: rgb(205, 205, 205);
  }

  /* Contact */
  #contact .contact-content .input,
  #contact .contact-content .message {
    width: 450px;
    height: 45px;
  }

  #contact .contact-content .message {
    height: 220px;
  }

  #contact .contact-content .contact-button {
    gap: 5px;
    padding: 10px 22px;
    font-size: 1.1em;
  }

  #contact .contact-content .contact-button i {
    padding: 0;
  }

  #contact .contact-content .contact-button svg {
    width: 34px;
    height: 30px;
  }

  /* Footer */
  #contact .contact-content {
    min-height: 80vh;
  }

  .footer.social i {
    font-size: 1.6em;
    color: white;
  }

  footer .footer-name a {
    font-size: 1.1em;
  }
}
